---
import { CheckedList } from '@/components/CheckedList'
import { Code } from '@/components/Code'
import { CodeWindow } from '@/components/CodeWindow'
import Container from '@/components/Container.astro'
import { StackBlitz } from '@/components/StackBlitz'
import { SB_TC_COMPARISON_WITH_VANILLA, SB_INTERVAL_AND_TIMEOUT_COMPARISON_WITH_VANILLA } from '@/definitions/stack-blitz/core/functions'
import { SB_FETCH_COMPARISON_WITH_VANILLA, SB_FETCH_SHOWCASE, SB_LOCALIZATION_SHOWCASE } from '@/definitions/stack-blitz/core/modules'
import { SB_UTILS_SHOWCASE } from '@/definitions/stack-blitz/core/utils'
import Layout from '@/layouts/Layout.astro'
import { joinElementClasses } from '@aracna/web'

const MORE_ITEMS: string[] = [
  'Improves the Blob and File API',
  'Exposes essential functions like debounce, sleep and throttle',
  'Encodes and decodes hex, base32 and base64',
  'Lets you defer promises',
  'Exposes common environment checks',
  'Improves the Fetch and FormData API',
  'Makes it easy to work with REST and GraphQL APIs',
  'Lets you track object changes and undo/redo them',
  'Embeds nanoid to quickly generate random IDs',
  'Improves the setInterval and clearInterval API',
  'Supports localization out of the box',
  'Lets you create context based loggers',
  'Dynamically polyfills the Fetch API in Node environments',
  'Exposes an API to keep track of status changes',
  'Simplifies the TextEncoder and TextDecoder API',
  'Improves the setTimeout and clearTimeout API',
  'Includes a multitude of utility functions'
]
---

<Layout>
  <Container class='relative flex justify-center items-center' style='height: calc(100vh - 80px)'>
    <div class='z-10 max-w-screen-lg w-full flex flex-col justify-center lg:text-center gap-4'>
      <h1 class='text-6xl'>The pulsating heart of Aracna</h1>
      <p class='text-2xl text-slate-300'>Exposes many functions, modules and utils that will help you write shorter working code.</p>
      <button
        class={joinElementClasses(
          'lg:self-center flex justify-center items-center px-16 py-8 mt-6 rounded-full bg-gradient-to-tl from-rose-400 to-rose-300',
          'transition shadow-black hover:shadow-2xl'
        )}
      >
        <span class='text-2xl'>See it in action</span>
      </button>
    </div>
    <div class='absolute w-96 h-96 rounded-full blur-[256px] bg-rose-400'></div>
  </Container>
  <Container class='gap-16'>
    <div class='w-full flex flex-col lg:flex-row items-center gap-16 lg:rounded-3xl'>
      <div class='lg:w-1/2 flex flex-col gap-4'>
        <h2 class='text-6xl'>Improved native APIs</h2>
        <p class='text-2xl text-slate-300'>
          The main goal of the core package is to simplify common actions and patterns that developer go through, communicating with a REST API is a clear
          example here.<br /><br />The native Fetch API does not have automatic serialization of requests and responses, Aracna solves that and much more.
        </p>
      </div>
      <div class='relative w-full lg:w-1/2'>
        <CodeWindow client:load files={SB_FETCH_SHOWCASE} language='typescript' />
      </div>
    </div>
  </Container>
  <!-- <Container class='gap-16' hasMarginTop>
    <div class='max-w-screen-lg w-full flex flex-col gap-4'>
      <h2 class='text-6xl'>Nestless try catching</h2>
      <p class='text-2xl text-slate-300'>
        One of the core patterns of Aracna is inline try catching, handling errors is one of the biggest offenders in terms of nesting and having a more
        efficient way to do it can only bring better code.
      </p>
    </div>
    <CodeWindow client:load files={SB_TC_COMPARISON_WITH_VANILLA} language='typescript' />
  </Container>
  <Container class='gap-16' hasMarginTop>
    <div class='max-w-screen-lg w-full flex flex-col gap-4'>
      <h2 class='text-6xl'>Smart intervals and timeouts</h2>
      <p class='text-2xl text-slate-300'>
        Tired of saving the ids when setting an interval or a timeout? We got you covered.<br />Just use the callback itself or a string as the key.
      </p>
    </div>
    <CodeWindow client:load files={SB_INTERVAL_AND_TIMEOUT_COMPARISON_WITH_VANILLA} language='typescript' />
  </Container>
  <Container class='gap-16' hasMarginTop>
    <div class='max-w-screen-lg w-full flex flex-col gap-4'>
      <h2 class='text-6xl'>Localize your apps</h2>
      <p class='text-2xl text-slate-300'>
        Kickstart your product with easy to implement dynamic persistent localization.<br /><br />Even basic projects will require localization at some point,
        that's why Aracna exposes this module, it's part of the essential tools for any kind of app.
      </p>
    </div>
    <CodeWindow client:load files={SB_LOCALIZATION_SHOWCASE} language='typescript' />
  </Container>
  <Container class='gap-16' hasMarginTop>
    <div class='max-w-screen-lg w-full flex flex-col gap-4'>
      <h2 class='text-6xl'>Utility functions</h2>
      <p class='text-2xl text-slate-300'>
        Everybody just loves utils, Aracna exposes many based on their context.<br />Deep clone objects, convert a string to camel case etc.
      </p>
    </div>
    <CodeWindow client:load files={SB_UTILS_SHOWCASE} language='typescript' />
  </Container> -->
  <!-- <Container hasMarginTop>
    <div class='max-w-screen-lg w-full flex flex-col gap-4'>
      <h2 class='text-6xl'>Interested?</h2>
      <p class='text-2xl text-slate-300'>
        What you've seen is just a piece of the core library, you can read the full API in our <a class='underline' href='/docs'>documentation</a>.
      </p>
    </div>
  </Container> -->
</Layout>
